<!-- footer_section - start
      ================================================== -->
<footer class="footer_section footer_style_1 section_space pt-0">
	<div class="container">
		<div class="footer_widget_area section_space">
		</div>
		<div class="footer_bottom wow fadeInRight" data-wow-delay=".2s">
			<p class="copyright_text mb-0" ><i class="fal fa-copyright"></i> {{ site.data.settings.footer_settings.copyright_text }} <a class="text-white" href="{{ site.baseurl }}/">{{ site.data.settings.name }}</a></p>
			<ul class="social_primary ul_li">
				<li><a href="{{ site.data.settings.social_settings.linkedin_url }}">LinkedIn</a></li>
				<li><a href="{{ site.data.settings.social_settings.instagram_url }}">Instagram</a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- footer_section - end
      ================================================== -->