<!-- footer_section - start
      ================================================== -->
<footer class="footer_section footer_style_1 section_space pt-0">
	<div class="container">
		<div class="footer_widget_area section_space">
		</div>
		<div class="footer_bottom">
			<p class="copyright_text mb-0 wow fadeInRight" data-wow-delay=".2s"><i class="fal fa-copyright"></i> {{ site.data.settings.footer_settings.copyright_text }} <a class="text-white" href="{{ site.baseurl }}/">{{ site.data.settings.name }}</a></p>
		</div>
	</div>
</footer>
<!-- footer_section - end
      ================================================== -->