{% assign frontpages = site.frontpages %}
{% assign pages = site.html_pages | where_exp: "item", "item.show_tile != false" %}
{% assign tiles = pages %}
{% assign tiles = frontpages | concat: tiles %}
<section id="one" class="tiles">
  {% for tile in tiles limit:site.tiles-count %}
  <article>
    <span class="image">
      <img src="{{ tile.image }}" alt="" />
    </span>
    <header class="major">
      {% if tile.iid %}
          <h3><a href="{{ '#' | append: tile.iid }}" class="link">{{ tile.title }}</a></h3>
      {% elsif tile.link %}
          <h3><a href="{{ tile.link }}" target="_blank" class="link">{{ tile.title }}</a></h3>
      {% else %}
          <h3><a href="{{ tile.url | relative_url }}" class="link">{{ tile.title }}</a></h3>
      {% endif %}
      <p>{{ tile.description }}</p>
    </header>
  </article>
  {% endfor %}
</section>
