<!-- header_section - start
      ================================================== -->
	  <header class="header_section header_style_2 white_content marcel">
		<nav class="main_menu navbar navbar-expand-lg">
			<div class="brand_logo">
				<a class="brand_text_link" href="{{ site.baseurl }}/">
					Marcel Moosbrugger
				</a>
			</div>
			<!-- single level navigation
     		 ================================================== -->
			<div class="main_menu_inner collapse navbar-collapse" id="main_menu_dropdown">
				<button class="mobile_menu_close_btn navbar-toggler" type="button" aria-controls="main_menu_dropdown" aria-expanded="false" aria-label="Close navigation">
					<i class="fal fa-times"></i>
				</button>
				<ul class="main_menu_list ul_li text-uppercase">
					{% for item in site.data.menus.toc %}
					<li class="nav-item">
						<a class="nav-link" href="{{ item.url | default: # }}" id="{{ item.title }}">
							{{ item.title }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<button class="mobile_menu_btn navbar-toggler" type="button" aria-controls="main_menu_dropdown" aria-expanded="false" aria-label="Show navigation">
				<i class="fal fa-bars"></i>
			</button>
		</nav>
	</header>
	<!-- header_section - end
		  ================================================== -->